body{
  background: #FFF!important;
}
.wrap-flyer {
    width: 795px;
    height:1123px;
    float:left;
    /*border:1px solid #eee;*/

}
.wrap-flyer .cabecera, .wrap-flyer .pie {
    background:#161630;
    height: 179px;
    text-align: center;
    padding-top: 35px;
}
.wrap-flyer .cabecera img, .wrap-flyer .pie img {height: 78px;}
.wrap-flyer .pie {
    height: 95px;
    padding-top: 10px;
}
#intizq.wrap-flyer .cabecera, #intder.wrap-flyer .cabecera {
    height: 52px;
    text-align: left;
    padding-left: 30px;
    padding-top: 0;
}
#intizq.wrap-flyer .cabecera img, #intder.wrap-flyer .cabecera img {
    height: 52px;
}
.wrap-flyer .promos {
    background:#D9D8D0;
    height: 65px;
    text-align: center;
}
.wrap-flyer .promos img {max-height: 60px;}
.wrap-flyer .promos img.origen {margin-top: 10px; max-height: 40px;}
.wrap-flyer .productos {
    background: #FFF;
    padding:0 40px;
}